@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container, .modal {
	font-family: 'IBMPlexSansKR-Regular';
}

.container > h1 {
	border-bottom: 1px solid #AAA;
	padding-bottom: 5px;
}